@page
@model AcmePortal.Pages.Customers.DeleteModel
@{
    ViewData["Title"] = "Delete Customer";
}

<h4>Delete Customer</h4>
<div class="alert alert-danger">Are you sure you want to delete <strong>@Model.Customer.Name</strong>?</div>

<form method="post">
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a asp-page="./Index" class="btn btn-secondary ms-2">Cancel</a>
</form>